<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="panel_origin" params="width thickness">
    <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:macro>

<xacro:macro name="panel_geometry" params="width thickness">
      <geometry>
        <box size="${width} ${width} ${thickness}"/>
      </geometry>
</xacro:macro>

<xacro:macro name="panel_box" params="width thickness">
    <xacro:panel_origin width="${width}" thickness="${thickness}"/>
    <xacro:panel_geometry width="${width}" thickness="${thickness}"/>
</xacro:macro>


<xacro:macro name="aruco_panel" params="width thickness id">
    <material name="Aruco${id}">
        <texture filename="package://aruco_model_generation/media/materials/texture/aruco_${id}.png"/>
        <script>
            <uri>package://aruco_model_generation/media/materials/scripts/script_${id}.material</uri>
            <name>Aruco/Aruco${id}</name>
        </script>
    </material>
    <link name="base_link">
        <collision>
            <xacro:panel_box width="${width}" thickness="${thickness}"/>
        </collision>

        <visual>
            <xacro:panel_box width="${width}" thickness="${thickness}"/>
            <material name="Aruco${id}"/>
        </visual>

        <inertial>
            <xacro:panel_origin width="${width}" thickness="${thickness}"/>
        <mass value="1"/>
        <inertia
            ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="1.0" iyz="0.0"
            izz="1.0"/>
        </inertial>
    </link>
    <gazebo reference="base_link">
        <material>Aruco/Aruco${id}</material>
    </gazebo>
</xacro:macro>

</robot>